body {
  height: 100%;
  width: 100%;
  min-width: 950px;
  background-color: #ffffff;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.mainBg {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -475px;
  z-index: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  width: 950px;
}
.sticky-top{
  width: 950px;
  margin: 0 auto;
}
.bg-sk{
  background-color: #002c57;
}
a.navbar-brand{
  margin-left: 20px;
  margin-top: -5px;
}
.index {
  width: 950px;
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  margin: 0 auto;
  min-height: 1300px;
}


/*------------------------------ transition---------------------------------*/
.btn_goTop, .btn_goTop span, .demo_show li a {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
}
/*----------------------------------Header----------------------------*/
.opening{
  position: relative;
  background-image:url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1729px;
  background-size: contain;
  z-index: 100;
}
.pd_logo{
  position: absolute;
  top: 3%;
  right: 8%;
  z-index: 102;
}
.goride11_logo{
  position: absolute;
  top: 15%;
  left: 13%;
  z-index: 203;
}
.sk_main{
  position: absolute;
  top: 17%;
  left: 0;
  z-index: 202;
}
.sk_main img{
  width: 950px;
}
.slogan{
  position: absolute;
  top: 76.5%;
  left: 12%;
  z-index: 203;
}
/*------------代言人---------*/
.tzu_shien_bg{
  position: relative;
  background-image:url(../images/name_bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1617px;
  background-size: contain;
  z-index: 100;
}
.slogan_2{
  position: absolute;
  top: 36%;
  left: 21%;
  z-index: 101;
}
.slogan_1{
  position: absolute;
  top: 56%;
  left: 21%;
  z-index: 101;
}
.name{
  position: absolute;
  top: 95%;
  left: 5%;
  z-index: 101;
}
/*-------------------------------All Technology---------------------------*/
.swiper1{
  height: 1900px;
}
.tech_left{
  position: relative;
  background-image:url(../images/tech_left.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1900px;
  background-size: cover;
  z-index: 100;
}
.tech_right{
  position: relative;
  background-image:url(../images/tech_right.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1900px;
  background-size: cover;
  z-index: 100;
}
.tech_title{
  position: absolute;
  top: 9%;
  right: 11%;
  z-index: 101;
}
.blue_bg{
  position: absolute;
  top: 30%;
  right: 0;
  z-index: 102;
}
.gride11{
  position: absolute;
  top: 22%;
  right: 0;
  z-index: 103;
}
.gride11 img{
  width: 100%;
}
.tech_right_arrow{
  position: absolute;
  top: 92%;
  right: 17%;
  z-index: 102;
  animation: trandx 1.5s linear infinite;
  -webkit-animation: trandx 1.5s linear infinite;
  -moz-animation: trandx 1.5s linear infinite;
}
@keyframes trandx {
  0% {
    transform: translate(0px,0px);
  }
  20% {
    transform: translate(10px,0px);
  }
  40% {
    transform: translate(20px,0px);
  }
  60% {
    transform: translate(10px,0px);
  }
  100% {
    transform: translate(0px,0px);
  }
}
.lightblue{
  position: absolute;
  top: 23%;
  left: 0%;
  z-index: 102;
}
.gride_all{
  position: absolute;
  top: 25%;
  right: 2%;
  z-index: 102;
  animation: trandx 1.5s linear infinite;
  -webkit-animation: trandx 1.5s linear infinite;
  -moz-animation: trandx 1.5s linear infinite;
}
.archfit_logo{
  position: absolute;
  top: 36%;
  left: 7%;
  z-index: 102;
}
.archfit_line{
  position: absolute;
  top: 40%;
  left: 34%;
  z-index: 102;
}
.carbon_logo{
  position: absolute;
  top: 45%;
  left: 6%;
  z-index: 102;
}
.carbon_line{
  position: absolute;
  top: 48%;
  left: 34%;
  z-index: 102;
}
.hyperburstice_logo{
  position: absolute;
  top: 52%;
  left: 5%;
  z-index: 102;
}
.hyperburstice_line{
  position: absolute;
  top: 54%;
  left: 32%;
  z-index: 102;
}
.goodyear_logo{
  position: absolute;
  top: 66%;
  left: 6%;
  z-index: 102;
}
.goodyear_line{
  position: absolute;
  top: 69%;
  left: 39%;
  z-index: 102;
}
/*---------------------------Hyperburst ICE---------------------------*/
.swiper2{
  height: 1407px;
}
.hyperburstice_bg{
  position: relative;
  background-image:url(../images/hyperburstice_bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1407px;
  background-size: cover;
  z-index: 100;
}
.hyperburstice_title{
  position: absolute;
  top: 5%;
  left: 12%;
  z-index: 101;
}
.shoes_top{
  position: absolute;
  top: 20%;
  left: 22%;
  z-index: 102;
}
.shoes_down{
  position: absolute;
  top: 32%;
  left: 17%;
  z-index: 101;
}
.hyperburstice_highnight{
  position: absolute;
  top: 48%;
  left: 5%;
  z-index: 101;
}
.hyperburstice_text{
  position: absolute;
  top: 69%;
  left: 21%;
  z-index: 101;
}

.hyperburst_ice_right{
  position: absolute;
  top: 82%;
  right: 17%;
  z-index: 102;
  animation: trandx 1.5s linear infinite;
  -webkit-animation: trandx 1.5s linear infinite;
  -moz-animation: trandx 1.5s linear infinite;
}
.hyperice_highlight2{
  position: absolute;
  top: 30%;
  left: 6%;
  z-index: 102;
}
.shoes_front{
  position: absolute;
  top: 27%;
  right: 0;
  z-index: 102;
}
.hyperice_text{
  position: absolute;
  top: 65%;
  left: 11%;
  z-index: 102;
}
/*------------------------HyperArc--------------------------*/
.swiper3{
  height: 1960px;
}
.hyperarc_bg{
  position: relative;
  background-image:url(../images/hyperarc_bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1960px;
  background-size: cover;
  z-index: 100;
}
.hyperarc_logo{
  position: absolute;
  left: 10%;
  top: 5%;
  z-index: 101;
}
.back_shoes{
  position: absolute;
  left: 23%;
  top: 22%;
  z-index: 101;
}
.arc_blue{
  position: absolute;
  left: 11%;
  top: 40%;
  z-index: 102;
  opacity: .6;
}
.arc_blue img{
  width: 80%;
}
.hyperarc_line1{
  position: absolute;
  right: 4%;
  top: 41%;
  z-index: 103;
}
.hyperarc_first{
  position: absolute;
  right: 6%;
  top: 36%;
  z-index: 101;
}
.hyper_arc_front{
  position: absolute;
  left: 7%;
  top: 56%;
  z-index: 101;
}
.hyper_arc_front_text{
  position: absolute;
  left: 7%;
  top: 56%;
  z-index: 102;
}
.hyperarc_right{
  position: absolute;
  top: 92%;
  right: 10%;
  z-index: 102;
  animation: trandx 1.5s linear infinite;
  -webkit-animation: trandx 1.5s linear infinite;
  -moz-animation: trandx 1.5s linear infinite;
}
.hyper_arc_back{
  position: absolute;
  left: 7%;
  top: 25%;
  z-index: 101;
}
.hyper_arc_back_text{
  position: absolute;
  left: 7%;
  top: 25%;
  z-index: 102;
}
.hyperarc_inf{
  position: absolute;
  top: 56%;
  left: 22%;
  z-index: 102;
}
/*------------------------VisualMen --------------------------*/
.gride_visual_men{
  position: relative;
  background-image:url(../images/gride_men_visual.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1923px;
  background-size: cover;
  z-index: 100;
}
/*------------------------Carbon-------------------------*/
.carbon_bg{
  position: relative;
  background-image:url(../images/carbon_bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1262px;
  background-size: cover;
  z-index: 100;
}
.carbon_title{
  position: absolute;
  top: 13%;
  left: 19%;
  z-index: 101;
}
.shoes1{
  position: absolute;
  top: 33%;
  left: 15%;
  z-index: 101;
}
.carbon_h{
  position: absolute;
  top: 44%;
  left: 20%;
  z-index: 101;
}
.arrow1{
  position: absolute;
  top: 47%;
  right: 28%;
  z-index: 103;
}
.arrow2{
  position: absolute;
  top: 70%;
  left: 27%;
  z-index: 101;
}
.carbon_inf{
  position: absolute;
  top: 84%;
  left: 18%;
  z-index: 101;
}
/*-----------------------Goodyears-----------------------*/
.goodyear_bg{
  position: relative;
  background-image:url(../images/goodyear_bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1269px;
  background-size: cover;
  z-index: 100;
}

.goodyear_backshoes{
  position: absolute;
  top: 24%;
  left: 8%;
  z-index: 101;
}
.goodyear_highlight{
  position: absolute;
  top: 24.1%;
  left: 7.9%;
  z-index: 102;
  opacity: .6;
}
.goodyear_title{
  position: absolute;
  top: 53%;
  left: 19%;
  z-index: 101;
}
.goodyear_line1{
  position: absolute;
  top: 70%;
  left: 20%;
  z-index: 101;
}
.goodyear_information{
  position: absolute;
  top: 75%;
  left: 22%;
  z-index: 101;
}
.goodyear_ref{
  position: absolute;
  top: 90%;
  left: 10%;
  z-index: 102;
}
/*-----------------------Archfit-----------------------*/
.archfit_bg{
  position: relative;
  background-image:url(../images/archfit_bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1429px;
  background-size: cover;
  z-index: 100;
}
.archfit_title{
  position: absolute;
  top: 15%;
  left: 19%;
  z-index: 101;
}
.archfit{
  position: absolute;
  top: 9%;
  right: 0%;
  z-index: 102;
}
.archfit img{
  width: 950px;
}
.archfit_inf{
  position: absolute;
  top: 70%;
  right: 9%;
  z-index: 102;
}
/*-----------------------appraise-----------------------*/
.appraise_bg{
  position: relative;
  background-image:url(../images/appraise_bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1179px;
  background-size: cover;
  z-index: 100;
}
.appraise_title{
  position: absolute;
  top: 12%;
  left: 12%;
  z-index: 101;
}
.runnote_logo{
  position: absolute;
  top: 32%;
  left: 28%;
  z-index: 102;
}
.running_warehouse{
  position: absolute;
  top: 52%;
  left: 24%;
  z-index: 102;
}
.rw_video{
  position: absolute;
  top: 56%;
  left: 14%;
  z-index: 103;
}
/*--------------------------------Ending----------------------------*/
.ending-kv{
  position: relative;
  height: 1621px;
  width: 100%;
  z-index: 100;
}
.slogan_12{
  position: absolute;
  top: 25%;
  right: 0;
  z-index: 102;
  animation: trandshoes 1.5s linear infinite;
  -webkit-animation: trandshoes 1.5s linear infinite;
  -moz-animation: trandshoes 1.5s linear infinite;
}
.tzu-shien-name-bk{
  position: absolute;
  top: 80%;
  right: 34%;
  z-index: 103;
}
.slogan_13{
  position: absolute;
  top: 25%;
  left: 0;
  z-index: 102;
  animation: trandshoes 1.5s linear infinite;
  -webkit-animation: trandshoes 1.5s linear infinite;
  -moz-animation: trandshoes 1.5s linear infinite;
}
.lorene_name{
  position: absolute;
  top: 82%;
  left: 22%;
  z-index: 103;
}
/*--------------------------------Ending----------------------------*/
.ending_bg{
  position: relative;
  background-image:url(../images/ending_bk.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 3245px;
  background-size: contain;
  z-index: 101;
}
.white_line3{
  position: absolute;
  left: 0;
  top:4%;
  z-index: 102;
}
.shoes-all{
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 103;
}
.white_line4{
  position: absolute;
  left: 0;
  top:14.8%;
  z-index: 102;
}
.slogan_4{
  position: absolute;
  left: 12%;
  top: 17.8%;
  z-index: 102;
}
.lightshot{
  position: absolute;
  left: 0;
  top: 17.8%;
  z-index: 102;
  mix-blend-mode: lighten;
}
.goride11_logo-ending{
  position: absolute;
  left: 17%;
  top: 33.8%;
  z-index: 102;
}
.ending_slogan{
  position: absolute;
  left: 9%;
  top: 44.8%;
  z-index: 102;
}
.men_label{
  position: absolute;
  left: 0;
  top: 57.8%;
  z-index: 102;
}
.men_shoes_left{
  position: absolute;
  left: 4%;
  top: 62%;
  z-index: 103;
}
.men_shoes_right{
  position: absolute;
  right: 3.5%;
  top: 62%;
  z-index: 103;
}
.women_label{
  position: absolute;
  right: 0;
  top: 76%;
  z-index: 102;
}
.women_shoes_left{
  position: absolute;
  left: 4%;
  top: 81%;
  z-index: 103;
}
.women_shoes_right{
  position: absolute;
  right: 3.5%;
  top: 81%;
  z-index: 103;
}
.sale{
  position: absolute;
  left: 14.5%;
  top: 95%;
  z-index: 103;
}
.store{
  position: absolute;
  right: 15.5%;
  top: 95%;
  z-index: 103;
}
/*------------------------------ Footer--------------------------------------*/
.footer{
  position: relative;
  background-image:url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 363px;
  background-size: contain;
}
.sk-logo{
  position: absolute;
  left: 17%;
  top:24%;
}
.copyright{
  position: absolute;
  left: 16%;
  top:73%;
}
/*------------------------Visual Women --------------------------*/
.gride_women_visual{
  position: relative;
  background-image:url(../images/gride_women_visual.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1902px;
  background-size: cover;
  z-index: 100;
}

/*---------------------------btn_goTop---------------------------*/
.btn_goTop {
  position: fixed !important;
  width: 60px;
  height: 60px;
  border-radius: 20%;
  background-color: #0063ba;
  bottom: 10px;
  left: 50%;
  margin-left: 480px;
  z-index: 999;
  display: block;
}

.btn_goTop span {
  display: block;
  position: absolute;
  width: 34px;
  height: 21px;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -17px;
  background-image: url(../images/goTop.png);
}

.btn_goTop:hover {
  background-color: rgb(255, 185, 192);
}

.btn_goTop:hover.btn_goTop span {
  margin: -15px 0 0 -17px;
}
